<div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6"><a href="/">FINDBOOK</a></div>

        <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                <li><a href="/" class="nav-link active">inicio</a></li>
                <li><a href="/categorias">Categorias</a></li>
                <li><a href="/contact">Contactos</a></li>
                <li class="d-lg-none"><a href="/register">Inicio sesión</a></li>
            </ul>
        </nav>

    </div>
</div>